---
import markers from "../../data/missions.json";
import NoFooterLayout from "../../layouts/NoFooterLayout.astro";

const title = "Carte des missions – JLG Consulting";
const description =
  "Explorez sur la carte les différents lieux en France où Jean-Louis Guénégo est intervenu.";
const markersJSON = JSON.stringify(markers);
---

<NoFooterLayout {title} {description}>
  <section class="w-screen">
    <div class="text-center">
      <h1 class="font-heading text-3xl font-bold text-green-700 mt-[-1rem]">
        Carte des missions
      </h1>
      <p class="text-gray-700 dark:text-gray-300 mb-1">
        Voici une carte interactive montrant les endroits où j’ai travaillé.
      </p>
    </div>
    <div id="map" class="h-[80vh] w-full"></div>
  </section>
  <div data-markers={markersJSON} class="relative z-0"></div>

  <script type="module">
    import * as L from "https://unpkg.com/leaflet@1.9.3/dist/leaflet-src.esm.js";

    const map = L.map("map").setView([46.6, 2.2], 6);
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 18,
      attribution: "© OpenStreetMap contributors",
    }).addTo(map);

    const markers = JSON.parse(
      document.querySelector("[data-markers]").dataset.markers,
    );
    markers.forEach(({ latitude, longitude, label }) => {
      if (latitude && longitude) {
        L.marker([latitude, longitude]).addTo(map).bindPopup(label);
      }
    });
  </script>

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  />
</NoFooterLayout>
