---
const { locale } = Astro.props;
import fr from "../locales/fr.ts";
import en from "../locales/en.ts";
import LanguageSelector from "./LanguageSelector.astro";

const t = locale === "en" ? en : fr;
---

<nav class="bg-blue-600 text-white shadow">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a href={`/${locale}/`} class="text-xl font-bold">{t.nav.home}</a>
    <div>
      <ul class="flex gap-4">
        <li>
          <a href={`prestations`} class="hover:underline">{t.nav.services}</a>
        </li>
        <li>
          <a href={`a-propos`} class="hover:underline">{t.nav.about}</a>
        </li>
        <li>
          <a href={`references`} class="hover:underline">{t.nav.references}</a>
        </li>
        <li>
          <a href={`missions`} class="hover:underline">{t.nav.missions}</a>
        </li>
        <li>
          <a href={`contact`} class="hover:underline">{t.nav.contact}</a>
        </li>
      </ul>
      <LanguageSelector />
      <button
        onclick="toggleTheme()"
        class="fixed top-4 right-4 z-50 p-2 rounded bg-gray-200 dark:bg-gray-800 text-black dark:text-white"
      >
        🌙 / ☀️
      </button>
    </div>
  </div>
</nav>
