---
import Footer from "../components/Footer.astro";
import HtmlHead from "../components/HtmlHead.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
import { getLocaleFromPathname } from "../utils/i18n";

const pathname = Astro.url.pathname;
const locale = getLocaleFromPathname(pathname);

const { title, description } = Astro.props || {
  title: "Default Title",
  description: "Default Description",
};
---

<html lang={locale}>
  <HtmlHead {title} {description} />
  <body
    class="font-serif relative transition-colors duration-500 flex flex-col min-h-screen bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200"
  >
    <NavBar locale={locale} />
    <main
      class="relative z-0 flex flex-col flex-grow item-center container mx-auto mb-8 px-2 max-w-3xl"
    >
      <slot />
    </main>
    <Footer locale={locale} />
  </body>
</html>
