---
import Footer from "../components/Footer.astro";
import HtmlHead from "../components/HtmlHead.astro";
import NavBar from "../components/NavBar.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";
import { getLocaleFromPathname } from "../utils/i18n";

interface Props {
  title: string;
  children: unknown;
  description: string;
}

const pathname = Astro.url.pathname;
const locale = getLocaleFromPathname(pathname);

const { title, description } = Astro.props || {
  title: "Default Title",
  description: "Default Description",
};
---

<html lang={locale}>
  <HtmlHead {title} {description} />
  <body
    class="font-serif relative transition-colors duration-500 flex flex-col min-h-screen bg-white text-gray-800 dark:bg-gray-900 dark:text-gray-200"
  >
    <NavBar locale={locale} />
    <div
      class="flex-grow container mx-auto md:px-4 flex flex-col-reverse md:flex-row"
    >
      <!-- Barre latérale -->
      <Sidebar />

      <!-- Contenu principal -->
      <main class="flex-1 p-6">
        <slot />
      </main>
    </div>
    <Footer locale={locale} />
  </body>
</html>
